{% block header %}
    <div class="masthead clearfix">
        <div class="inner">
            <h3 class="masthead-brand">Cover</h3>
            <nav>
                <ul class="nav masthead-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="/register">Cadastre-se</a></li>
                    <li><a href="/connect/facebook">Entrar com facebook</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
